/* Style Created by Adethis */

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Light.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: medium;
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: bold;
}


* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.content {
    align-items: center;
    display: flex;
    justify-content: center;
}

.box {
    border-radius: 5px;
    display: block;
    margin: 20px;
    margin-top: calc(100% / 10);
    padding: 20px 40px;
    width: 340px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.box-header,
.box-body {
    display: block;
    margin: 20px auto;
}

h3.box-title {
    font-size: 21px;
    height: 35px;
    width: 70px;
    box-shadow: -15px 18px 0 -15px #5CC7A8;
}

.form-group {
    display: block;
    padding: 10px 0;    
}

.form-group input {
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    min-width: 100%;
}

.form-group input:focus {
    border: 1px solid #5CC7A8;
    box-shadow: 0 0 3px rgba(92, 199, 168, 0.5);
    transition: all .2s ease-in;
}

.btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 40%;
    padding: 10px;
    width: 100%;
}

.btn-primary {
    background: #5CC7A8;
    color: #fff;
}

.btn-primary:hover {
    background: rgb(80, 182, 153);
    transition: all .2s ease-in;
}

p#i_error {
    display: block;
    font-size: 11px;
}
p#i_error.info-error {
    background: #ec7676;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
}

.text-right { text-align: right }
.text-center { text-align: center }